body
{
background-color: skyblue;
}

.element
{
    border: 1px solid rebeccapurple;
width:33%;
height: 70px;
display: inline-block;

}

#special
{
    width: 500px;
    height: 130px;
    margin: 10px;
    background-color: steelblue;
    border: 5px double rgb(53, 4, 53);
    padding-left: 20px;
    border-bottom-width: 10px;

}